.App {
  text-align: center;
  font-family: "Lucida Console", "Helvetica", sans-serif;
}


/* 
Main Application Styles
*/

#appContainer {
}

#leftRow {
  background-color: white;
  height:100vh;
}

#centerRow {
  background-color: white;
}

#rightRow {
  background-color: white;
}

/* 
SIMULATION ARGUMENTS SECTION
*/

#fireSimButton {
  width: 150px;
  height: 50px;

}


/* 
Stat Bar Styles
*/

.statUL {
  list-style-type: none;
  padding: 20px;
}

.statUL li {
  outline-style: solid;
  margin: 10px;
  margin-left: 0px;
  padding: 15px;
  padding-left: 0px;
  background: #f3f2f2;
  font-size: 15px;

}

.graphTitle {
  font-weight: bold;
  font-size: 20px;
}