.App {
  text-align: center;
  font-family: "Lucida Console", "Helvetica", sans-serif;
}


/* 
Main Application Styles
*/


#leftRow {
  background-color:  #f3f2f2;
  height:100vh;
  width: 500px;
  overflow-y: scroll;
}

#centerRow {
  background-color: white;
}

#rightRow {
  background-color: green;
  height: 100vh;
}

/* 
SIMULATION ARGUMENTS SECTION
*/

#fireSimButton {
  width: 150px;
  height: 50px;

}


/* 
Stat Bar Styles
*/

.statUL {
  list-style-type: none;
  padding: 20px;
}

.statUL li {
  outline-style: solid;
  margin: 10px;
  margin-left: 0px;
  padding: 15px;
  padding-left: 0px;
  font-size: 15px;
  background: white;

}

.graphTitle {
  font-weight: bold;
  font-size: 20px;
}




/* Rechart Styling */
.recharts-wrapper {
  cursor: crosshair !important;
}

.recharts-scatter-symbol {
  cursor: pointer;
}

.recharts-cartesian-axis-tick {
  user-select: none;
}

.plot-container {
  /* position: relative; */
}

.chartButton {
  left: 200px;
  z-index: 1;
}




/* Map styling */

.SuperAwesomePin {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -40px;
  top: -40px;

  border: 5px solid #f44336;
  borderRadius: 40px;
  backgroundColor: white;
  textAlign: center;
  color: #3f51b5;
  fontSize: 16;
  fontWeight: bold;
  padding: 4;
}